{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <h2>Bulk Upload</h2>
    <form action="{% url 'dir-bulkupload' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file"
               title="Upload excel file"
               name="excel_file"
               style="border: 1px solid black; padding: 5px;"
               required="required">
        <p>
        <input type="submit"
               value="Upload"
               style="border: 1px solid green; padding:5px; border-radius: 2px; cursor: pointer;">
    </form>

    <p></p>
    <hr>

    {% for row in excel_data %}
        {% for cell in row %}
            {{ cell }}&nbsp;&nbsp;
        {% endfor %}
        <br>
    {% endfor %}
{% endblock %}